<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CherryBombOne-Regular.ttf</string>
		<string>DarumadropOne-Regular.ttf</string>
		<string>NicoMoji-Regular.ttf</string>
		<string>NotoSansCJKjp-Medium.ttf</string>
		<string>SlacksideOne-Regular.ttf</string>
		<string>Yomogi-Regular.ttf</string>
		<string>AstroZ-KtA.otf</string>
		<string>ShotaroV-KT.otf</string>
		<string>Gavadon-UltraKt.otf</string>
		<string>POPPOP-Kt.otf</string>
		<string>HolidayMDJP.otf</string>
		<string>Ikaho-Katakana.otf</string>
		<string>Futaba-KT.otf</string>
		<string>Coppepan-ChocoKt.otf</string>
		<string>Hachipochi-EightKt.otf</string>
		<string>Nihonbashi-KT.otf</string>
	</array>
</dict>
</plist>
